/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* Allow pagination to be centered */
a {
  text-decoration: none !important;
}
.forum-threads-nav nav {
  display: inline-block;
}

/* Highlight the active navigation item in the sidebar */
.forum-post-filters {
  a {
    color: #555;
  }

  .active {
    color: #222;
    font-weight: bolder;
  }
}

/* Formatting for the forum threads */
.forum-thread {
  margin-bottom: -20px;

  h4 {
    margin-bottom: 4px;

    a {
      color: #222;
      font-size: 16px;
      font-weight: normal;
      line-height: 1.1;
    }
  }
}

.forum-post-filters a {
  color: #555555;
  display: block;

  &:hover {
    color: #222222;
    font-weight: bold;
    text-decoration: none
  }
}

.thread-details {
  color: #999;
  font-size: 12px;
}

/* Display the forum post count above the "posts" text on the index page */
.post-comments-count {
  color: #222;
  text-align: center;

  span, small {
    display: block;
  }

  .count {
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1em;
  }

  &:hover {
    color: #222;
    text-decoration: none;
  }
}

/* Formatting for the forum posts themselves */
.forum-post {
  position: relative;

  /* When the URL anchor matches a post id, highlight that item */
  &:target {
    background-color: rgb(248, 238, 199);
  }

  /* Fill this out if you want to highlight the OPs posts */
  &.original-poster {
  }

  &.solved {
    border: 2px solid #5cb85c;
  }
}

/* Formatting for the forum hr to match card border */
.simple_discussion hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  margin: 24px -20px;
}

.simple_discussion .text-muted {
  color: #999;
  margin-top: 6px;
  font-size: 13px;
}

.post-category {
  border-radius: 18px;
  border-width: 1px;
  border-style: solid;
  display: inline-block;
  padding: 2px 4px;
  text-align: center;
  width: 6rem;
}

.comment-user{
  color: #02ACA6 !important;
  font-weight: bold;
}

.btn-circle{
  border-radius: 30px !important;
}

